{% extends "quiz/layout.html" %}

{% block body %}

    {% if child and teacher %}
    <h1>Quiz page</h1>

    <p> User: {{ child }} </p>
    <p> Class: {{ teacher }} </p>

    <div class="breakdown">
    <form action "{% url 'quiz:index' %}" method="post">
        {% csrf_token %}
         
        {% for q in questions %}
        
        <p>{{ q }}</p>
        <br>
        {{ form }}
        <br>
        <br>
        <br>
        {% endfor %}
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>           

        </form>
    </div>

    {% else %}

    <h1>Login page</h1>
    
    <div class="breakdown">
        <form action="{% url 'quiz:index' %}" method="post">
        {% csrf_token %}
        <h3> Please put in your name </h3> 
        <p> {{ login_form }} </p>
        <h3> Please select your test </h3>
        <p> {{ test_form }} </p>
        <br>
        <br>
        <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
        </a>
    </div>

{% endif %}

{% endblock %}
